COMPOSE_PROJECT_NAME=tools-sso

PUBLIC_SCHEME=http
PUBLIC_HOST=REPLACE_ME_PUBLIC_HOST
BROWSER_HOST=localhost
KEYCLOAK_PUBLIC_HOST=auth.localhost
PORTAINER_PUBLIC_HOST=portainer.localhost
KAFKA_UI_PUBLIC_HOST=kafka.localhost
REDISINSIGHT_PUBLIC_HOST=redis.localhost
PHPMYADMIN_PUBLIC_HOST=pma.localhost
MONGO_EXPRESS_PUBLIC_HOST=mongo.localhost
HARBOR_PUBLIC_HOST=harbor.localhost
NACOS_PUBLIC_HOST=nacos.localhost
NIGHTINGALE_PUBLIC_HOST=nightingale.localhost
TOOLS_NETWORK=tools_net

KEYCLOAK_PORT=8080
PORTAINER_PORT=19000
KAFKA_UI_PORT=8082
REDISINSIGHT_PROXY_PORT=4180
PHPMYADMIN_PROXY_PORT=4181
MONGO_EXPRESS_PROXY_PORT=4182
HARBOR_PORT=8088
BUSINESS_PANEL_HOST=127.0.0.1
BUSINESS_PANEL_PORT=8090
BUSINESS_PANEL_REFRESH_INTERVAL=15

POSTGRES_IMAGE=postgres:16-alpine
KEYCLOAK_IMAGE=quay.io/keycloak/keycloak:latest
PORTAINER_IMAGE=portainer/portainer-ce:latest
KAFKA_IMAGE=apache/kafka:latest
KAFKA_UI_IMAGE=ghcr.io/kafbat/kafka-ui:latest
REDIS_IMAGE=redis:7.2-alpine
REDISINSIGHT_IMAGE=redis/redisinsight:latest
MARIADB_IMAGE=mariadb:11
PHPMYADMIN_IMAGE=phpmyadmin:latest
MONGO_IMAGE=mongo:8
MONGO_EXPRESS_IMAGE=mongo-express:latest
OAUTH2_PROXY_IMAGE=quay.io/oauth2-proxy/oauth2-proxy:latest
GATEWAY_IMAGE=goharbor/nginx-photon:v2.14.1

KEYCLOAK_REALM=infra
KEYCLOAK_ADMIN_USER=admin
KEYCLOAK_ADMIN_PASSWORD=ChangeMe_Keycloak_Admin_123!
KEYCLOAK_DB_NAME=keycloak
KEYCLOAK_DB_USER=keycloak
KEYCLOAK_DB_PASSWORD=ChangeMe_Keycloak_Db_123!

PORTAINER_CLIENT_ID=portainer
PORTAINER_CLIENT_SECRET=ChangeMe_Portainer_Secret_123!
PORTAINER_ADMIN_USER=admin
PORTAINER_ADMIN_PASSWORD=ChangeMe_Portainer_Admin_123!

KAFKA_UI_CLUSTER_NAME=local
KAFKA_NODE_ID=1
KAFKA_BOOTSTRAP_SERVERS=kafka:29092
KAFKA_HOST_BOOTSTRAP_SERVER=REPLACE_ME_PUBLIC_HOST:9092
KAFKA_UI_CLIENT_ID=kafka-ui
KAFKA_UI_CLIENT_SECRET=ChangeMe_KafkaUI_Secret_123!

REDIS_PASSWORD=ChangeMe_Redis_123!
REDISINSIGHT_ENCRYPTION_KEY=ChangeMe_RedisInsight_Encrypt_32bytes

MARIADB_DATABASE=appdb
MARIADB_USER=appuser
MARIADB_PASSWORD=ChangeMe_MariaDB_User_123!
MARIADB_ROOT_PASSWORD=ChangeMe_MariaDB_Root_123!
PHPMYADMIN_ALLOWED_GROUP=/platform-admins
PHPMYADMIN_AUTOLOGIN_USER=pma_appdb_admin
PHPMYADMIN_AUTOLOGIN_PASSWORD=ChangeMe_PhpMyAdmin_Autologin_123!

MONGO_ROOT_USER=root
MONGO_ROOT_PASSWORD=ChangeMe_Mongo_Root_123!

OAUTH2_PROXY_CLIENT_ID=oauth2-proxy
OAUTH2_PROXY_CLIENT_SECRET=ChangeMe_OAuth2Proxy_Secret_123!
OAUTH2_PROXY_COOKIE_SECRET=REPLACE_WITH_32_BYTE_SECRET

KEYCLOAK_TEST_USER=opsadmin
KEYCLOAK_TEST_PASSWORD=ChangeMe_OpsAdmin_123!

HARBOR_ADMIN_PASSWORD=ChangeMe_Harbor_Admin_123!
HARBOR_CLIENT_ID=harbor
HARBOR_CLIENT_SECRET=ChangeMe_Harbor_Client_123!
